<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="rut">RUT</label>
      <input type="rut" class="form-control">
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="unidad_compra"> Unidad de Compra</label>
      <input type="unidad_compra" class="form-control">
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <label for="razon"> Raz贸n</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="direccion">Direcci贸n</label>
      <input type="direccion" class="form-control">
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="comuna"> Comuna</label>
      <input type="comuna" class="form-control">
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <label for="region"> Regi贸n</label>
      <input type="region" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="institucion">Instituci贸n</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>
