<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="sale_id">sale</label>
      <input type="sale_id" class="form-control">
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="fecha_despacho"> Fecha de Despacho</label>
      <input type="date" class="form-control">
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <label for="orden_transporte"> Orden de Transporte</label>
      <input type="text" class="form-control">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="form-group">
      <label for="empresa">empresa</label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="col-3">
    <div class="form-group">
      <label for="numero_factura"> Numero de Factura</label>
      <input type="number" class="form-control">
    </div>
  </div>

</div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Número de Producto</th>
      </tr>
    </thead>
    <tbody class='fields'>
      <%= form.fields_for :products do |f| %>
        <%= render 'product_fields', f: f%>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= link_to_add_fields('Add Task', form, :products) %>
  </div>
